body, label, input, button, select, box, .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    font-family: "Segoe UI" !important;
}

.main-header .logo {
  font-family: "Segoe UI" !important;
}


/* Rounding the edges of all boxes */
/* Setting the margin between boxes */
.box-body {
  padding: 10px;
  margin-bottom: -8px;
}

/* Defining the height of a value box */
.small-box {
  height: 8.7vh;
}

/* Adjusting a value box */
.small-box h3 {
    margin: -10px 0px 0px 0px;
    font-size: 4vh;
}

.small-box .icon-large {
    bottom: -5px;
    font-size: 7vh;
}

/* Improving the play button for the time slider */
.glyphicon {
  line-height: 0;
  font-weight: 700;
  font-size: 16px;
  top: 10px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  color: rgb(128,177,221);
}

.selectize-control {
    margin-bottom: 0px;
}

/* Rounding the edges of the graphbox */
img {
    border-radius: 10px;
}

/* Setting the font size of a header */
.main-header .logo {
  font-size: 30px;
  font-weight: 700;
}

.h3, h3 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 22px;
}

.h5, h5 {
    font-size: 16px;
}

.content {
    padding-right: 5px;
    padding: 2px;
}

.row {
    margin-right: -2px;
    margin-left: -2px;
}

.box {
  border-top: 0;
}

.col-sm-8 {
  padding-right: 0;
  padding-left: 5px;
}

.col-sm-4 {
  padding-right: 10px;
  padding-left: 0;
}

.col-sm-8 {
  border-radius: 10px;
}

/* Adjusting the sidebar menu */
.left-side, .main-sidebar {
  min-height: 0;
  top: 50px;
  padding-top: 0;
}

.sidebar {
  padding-bottom: 0;
}

.small-box p {
  line-height: 1;
  font-size: 1.9vh;
}

.small-box {
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.skin-blue .main-sidebar {
border-radius: 30px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
}

.checkbox label, .radio label {
    font-size: 15px;
}

.checkbox, .radio {
    margin-bottom: 5px;
}

.bg-purple {
    background-color: #40367c !important;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}

section.sidebar .shiny-input-container {
    padding: 5px 10px 5px 10px;
}

.irs-slider {
    top: 22px;
    width: 16px;
    height: 16px;
}

.irs-line {
    height: 6px;
    top: 27px;
}

.irs-bar {
    height: 7px;
    top: 26px;
}

.irs-bar-edge {
    height: 7px;
    top: 26px;
}

.shiny-input-checkboxgroup.shiny-input-container-inline label ~ .shiny-options-group, .shiny-input-radiogroup.shiny-input-container-inline label ~ .shiny-options-group {
    margin-top: -8px;
}